
*{
    margin: 0px;
    padding: 0px;
}
.title-bar{
    background-image: url("Images/bird-background.jpg");
    background-size: cover;
    background-position: center;
    padding: 80px;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
}
h1{
    /* font-family: 'roboto'; */
}
.title-bar>*{
    background-image: url("Images/sunset.jpg");
    background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-size: contain;
}
main{
    width: 90%;
    margin: auto;

}
.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    line-height: 2rem;
    gap: 20px;
}
.container:nth-child(even){
    flex-direction: row-reverse;
}
.container img{
    width: 100%;
}
.image{
    width: 1500px;
}
main>*{
    margin-top: 18px;
}
.content{
    width: 60%;
}
.image{
    width: 40%;
}

.birds{
    overflow-x: auto;
    overflow-y: hidden;
    height: 250px;
    display: flex;
    flex-basis: 250px;
    gap: 8px;
    flex-grow: 1;
}
.birds>img{
    border-radius: 8px;
}

.scroll-birds{
    display: flex;
    justify-content: space-between;
}
.outer-birds{
    height: 220px;
    overflow: hidden;
}

.scroll-birds>button{
    width: 20px;
    border-radius: 0px;
    border: none;
    padding: 8px;
    background-image: url("Images/arrowForward.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.scroll-birds>button:first-child{
    transform: rotate(180deg);
}
footer{
    height: 100px;
}


#popup-info{
    width: 80vw;
    height: 80vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(231, 255, 249);
    display: flex;
    align-items: center;
    display: none;
    box-shadow: -2px -2px 4px black;
    padding: 14px;
    box-sizing: border-box;
    z-index: 2;
}

.cover{
    height: 100vh;
    width: 100vw;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 0;
    display: none;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

footer{
    margin-top: 80px;
    background-color: rgb(22, 64, 75);
}

@media screen and (max-width:750px) {
    html{
        font-size: 12px;
    }
    .container{
        flex-direction: column-reverse;
    }
    .image,.content{
        width: 100%;
    }
    .container:nth-child(even){
        flex-direction: column-reverse;
    }
    
    .title-bar>*{
        width: 90%;
        margin: auto;
    }
    .title-bar>*{
        padding-left: 8PX;
    }
    .title-bar{
        padding: unset;
        padding-top: 80px;
        padding-bottom: 80px;
    }
}
#close-button{
    
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 8px;
    background-color: transparent;
    border: none;
    height: 30px;
    width: 30px;
    background-image: url("Images/close-icon.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}